<div #fadeUp class="flex flex-col justify-center items-center gap-4">
    <z-card [zTitle]="'Connexion'" class="h-auto min-w-80 gap-6">
        <form [formGroup]="form" class="flex flex-col gap-6 w-full" (ngSubmit)="submit()">
            <z-form-field>
                <label z-form-label zRequired for="email">Email</label>
                <z-form-control>
                    <input z-input id="email" type="email" formControlName="email"/>
                </z-form-control>
            </z-form-field>
            <z-form-field>
                <label z-form-label zRequired for="password">Mot de passe</label>
                <z-form-control>
                    <input z-input id="password" type="password" autocomplete="off" formControlName="password"/>
                </z-form-control>
            </z-form-field>
            <button z-button zType="default" type="submit">Se connecter</button>
        </form>
    </z-card>
    <h1 class="font-semibold text-muted-foreground">Pas encore de compte ? <button z-button zType="link" (click)="auth.setMode('register')">S'inscrire</button></h1>
</div>