
        <nav [class]="'flex h-full flex-col overflow-hidden ' + (sidebar.sidebarCollapsed() ? 'gap-1 p-1 pt-4' : 'gap-4 p-4')">
          <z-sidebar-group>
            @for (item of mainMenuItems; track item.label) {
              <button
                type="button"
                z-button
                zType="ghost"
                [class]="sidebar.sidebarCollapsed() ? 'justify-center' : 'justify-start'"
                [zTooltip]="sidebar.sidebarCollapsed() ? item.label : ''"
                zPosition="right"
                (click)="sidebar.navigateRoute(item.route)"
              >
                <ng-icon [name]="item.icon" [class]="sidebar.sidebarCollapsed() ? '' : 'mr-2'" />
                @if (!sidebar.sidebarCollapsed()) {
                  <span>{{ item.label }}</span>
                }
              </button>
            }
          </z-sidebar-group>
 
          <div class="mt-auto">
            <div
              z-menu
              [zMenuTriggerFor]="userMenu"
              zPlacement="rightBottom"
              [class]="
                'hover:bg-accent flex cursor-pointer items-center justify-center gap-2 rounded-md ' +
                (sidebar.sidebarCollapsed() ? 'm-2 p-0' : 'p-2')
              "
            >
              <z-avatar zSrc="https://zardui.com/images/avatar/imgs/avatar_image.jpg" zAlt="Zard UI" />
 
              @if (!sidebar.sidebarCollapsed()) {
                <div>
                  <span class="font-medium">{{ sidebar.session.user.name }}</span>
                  <div class="text-xs">{{ sidebar.session.user.email }}</div>
                </div>
 
                <ng-icon name="lucideChevronsUpDown" class="ml-auto" />
              }
            </div>
 
            <ng-template #userMenu>
              <div z-menu-content class="w-48">
                <button type="button" z-menu-item>
                  <ng-icon name="lucideUser" class="mr-2" />
                  Profil
                </button>
                <button type="button" z-menu-item>
                  <ng-icon name="lucideSettings" class="mr-2" />
                  Paramètres
                </button>
                <z-divider zSpacing="sm" />
                <button type="button" z-menu-item (click)="sidebar.logOut()">
                  <ng-icon name="lucideLogOut" class="mr-2" />
                  Se déconnecter
                </button>
              </div>
            </ng-template>
          </div>
        </nav>
