    <z-layout>
      <z-sidebar
        [zWidth]="250"
        [zCollapsible]="true"
        [zCollapsed]="sidebar.sidebarCollapsed()"
        [zCollapsedWidth]="70"
        (zCollapsedChange)="sidebar.onCollapsedChange($event)"
        class="p-0!"
      >
        <sidebar/>
      </z-sidebar>
 
      <z-content class="h-full min-h-0">
        <div class="grid h-full min-h-0 grid-cols-3 grid-rows-[2fr_5fr_3fr] gap-4">

          <ng-template #titlePnl>
            <h1 class="font-bold text-xl">PnL</h1>
          </ng-template>

          <z-card [zTitle]="titlePnl" class="min-h-0 h-auto" >
            <div class="w-full flex flex-col items-center justify-center h-full">
              <div class="flex flex-row gap-2">
                <z-badge [zStatus]="'Positive'" class="rounded-full h-full"><ng-icon name="lucideChevronUp" size="40"/></z-badge>
                <h1 class="font-bold text-4xl text-green-600">{{ 0 | currency:'EUR':'symbol':'1.0-2':'fr-FR'}} (+{{ 0.084 | percent:'1.1-1'}})</h1>
              </div>
              <h1 class="text-xl font-semibold">
                <span class="text-green-600">+{{ 120 | currency:'EUR':'symbol':'1.0-2':'fr-FR'}}</span>
                <span class="text-muted-foreground"> aujourd'hui</span>
              </h1>
            </div>
          </z-card>

          <ng-template #titlePortfolio>
            <h1 class="font-bold text-xl">Valeur du portefeuille</h1>
          </ng-template>

          <z-card [zTitle]="titlePortfolio" class="min-h-0 gap-2">
            <div class="w-full flex flex-col items-center justify-center h-full">
              <h1 class="font-bold text-4xl text-center">{{ account()?.accrued_fees ?? 0 | currency:'$':'symbol':'1.0-2':'fr-FR'}}</h1>
            </div>
          </z-card>

          <ng-template #titleCash>
            <h1 class="font-bold text-xl">Liquidités</h1>
          </ng-template>

          <z-card [zTitle]="titleCash" class="min-h-0 gap-2">
            <div class="w-full flex flex-col items-center justify-center h-full">
              <h1 class="font-bold text-4xl text-center">{{ account()?.cash ?? 0 | currency:'$':'symbol':'1.0-2':'fr-FR'}}</h1>
            </div>
          </z-card>

          <z-card class="col-span-3 min-h-0">
            <app-line-chart></app-line-chart>
          </z-card>

          <div class="grid col-span-3 grid-cols-2 gap-4 min-h-0">
            <div class="overflow-y-auto rounded-lg border bg-card">
            <table z-table>
              <thead z-table-header class="bg-accent sticky top-0 z-10 backdrop-blur">
                
                <tr zard-table-row>
                  <th z-table-head >Actif</th>
                  <th z-table-head>Quantité</th>
                  <th z-table-head>Prix moyen</th>
                  <th z-table-head>Prix actuel</th>
                  <th z-table-head>Valeur</th>
                  <th z-table-head>PnL</th>
                  <th z-table-head>Performance</th>
                </tr>
              </thead>
              <tbody z-table-body>
                @for (position of positions; track position.id) {
                  <tr z-table-row>
                    <td z-table-cell class="font-semibold">{{ position.actif }}</td>
                    <td z-table-cell class="font-semibold">{{ position.quantite | number }}</td>
                    <td z-table-cell class="font-semibold">{{ position.prix_moyen | currency:'EUR':'symbol':'1.0-2':'fr-FR' }}</td>
                    <td z-table-cell class="font-semibold">{{ position.prix_actuel | currency:'EUR':'symbol':'1.0-2':'fr-FR' }}</td>
                    <td z-table-cell class="font-semibold">{{ position.valeur | currency:'EUR':'symbol':'1.0-2':'fr-FR' }}</td>
                    <td z-table-cell class="font-semibold"><z-badge [zStatus]="position.pnl < 0 ? 'Negative' : 'Positive'">{{ position.pnl > 0 ? '+' : '' }}{{ position.pnl | currency:'EUR':'symbol':'1.0-2':'fr-FR' }}</z-badge></td>
                    <td z-table-cell class="font-semibold">{{ position.performance | percent:'1.1-1' }}</td>
                  </tr>}
              </tbody>
            </table>
            </div>
            
            <div class="overflow-y-auto rounded-lg border bg-card">
            <table z-table>
              <thead z-table-header class="bg-accent sticky top-0 z-10 backdrop-blur">
                
                <tr zard-table-row>
                  <th z-table-head>Type</th>
                  <th z-table-head>Actif</th>
                  <th z-table-head>Quantité</th>
                  <th z-table-head>Prix</th>
                  <th z-table-head>Date</th>
                </tr>
              </thead>
              <tbody z-table-body>
                @for (activite of activites; track activite.id) {
                  <tr z-table-row>
                    <td z-table-cell><z-badge [zStatus]="activite.type">{{ activite.type }}</z-badge></td>
                    <td z-table-cell class="font-semibold">{{ activite.actif }}</td>
                    <td z-table-cell class="font-semibold">{{ activite.quantite | number }}</td>
                    <td z-table-cell class="font-semibold">{{ activite.prix | currency:'$':'symbol':'1.0-2':'fr-FR' }}</td>
                    <td z-table-cell class="flex flex-col">
                      <p class="font-semibold">{{ activite.date | date:'dd/MM/yyyy' }}</p>
                      <p class="font-semibold text-muted-foreground">{{ activite.date | date:'HH:mm' }}</p>
                    </td>
                  </tr>}
              </tbody>
            </table>
            </div>
          </div>

        </div>
      </z-content>
    </z-layout>





