<div class="mx-auto w-full max-w-md">
  <form [formGroup]="form" class="flex w-full flex-col gap-6" (ngSubmit)="submit()">
    <z-form-field>
      <label z-form-label for="keyId">APCA-API-KEY-ID</label>
      <z-form-control>
        <input z-input id="keyId" type="text" autocomplete="off" formControlName="keyId" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="secretId">APCA-API-SECRET-KEY</label>
      <z-form-control>
        <input z-input id="secretId" type="text" autocomplete="off" formControlName="secretId" />
      </z-form-control>
    </z-form-field>
   </form>
</div>
