<div class="mx-auto w-full max-w-md">
  <form [formGroup]="form" class="flex w-full flex-col gap-6">
    <z-form-field>
      <label z-form-label for="APCA-API-KEY-ID">APCA-API-KEY-ID</label>
      <z-form-control>
        <input z-input id="APCA-API-KEY-ID" type="text" autocomplete="off" formControlName="APCA-API-KEY-ID" />
      </z-form-control>
    </z-form-field>

    <z-form-field>
      <label z-form-label for="APCA-API-SECRET-KEY">APCA-API-SECRET-KEY</label>
      <z-form-control>
        <input z-input id="APCA-API-SECRET-KEY" type="text" autocomplete="off" formControlName="APCA-API-SECRET-KEY" />
      </z-form-control>
    </z-form-field>
  </form>
</div>
